body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a.link-item {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #e97d3e7c;
    color: rgb(31, 30, 30);
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: rgb(253, 249, 249);
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 85%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

div.table-cont {
    overflow-x: auto;

}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    border: 1px solid #ddd;
    padding-top: 1%;
}

th,
td {
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: hwb(44 86% 2% / 0.788)
}

.title-conteiner {
    display: flex;
    margin: auto;
    height: 15%;
    width: 100%;
    position: relative;
   
}
div.logout {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    height: 50px;
    width: 100px;
    padding: 10px;
}

.title-conteiner h1 {
    border: rgb(170, 164, 164) solid 1px;
    box-shadow: 5px 0px 59px 6px rgb(211 208 208);
    width: 100%;
    font-size: 1.8rem;
    padding: 1%;
    padding-left: 0.5;
    background-color: #f1f1f1;
}
div.form-content{ 
    overflow-x: auto;
}
